[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcp = "*"
google-genai = "*"
python-dotenv = "*"
langgraph = "*"
langchain-google-genai = "*"
langchain-ollama = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
